<launch>
  <node pkg="pimouse_slam" name="keyboard_cmd_vel" type="keyboard_cmd_vel.py" required="true" />
  <node pkg="pimouse_slam" name="motors" type="motors.py" required="true" />

  <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
	<param name="filters" value="pointcloud" />
	<param name="enable_infra1" value="false" />
	<param name="enable_infra2" value="false" />
  </include>

  <node pkg="depthimage_to_laserscan" name="depthimage_to_laserscan" type="depthimage_to_laserscan" required="true" >
	<param name="scan_height" value="3" />
	<param name="output_frame_id" value="base_link" />
  	<remap from="image" to="/camera/depth/image_rect_raw" /> -->
  <!--	<remap from="image" to "/camera/infra1/image_rect_raw"/> -->
  </node>
</launch>
